page-transaction {
	.toolbar-background{
		background: color($colors, header_bg);
		color: #fff;
	}
	.toolbar-title {
	    font-size: 14px;
	    font-weight: 500;
	    color: #ffffff;
	    text-align: center;
	}
	.scroll-content{
		background: #fff !important;
	}
	.card-md, .card-ios{
		margin-top: 20px;
	}
}
